body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: white;
    margin: 0;
    padding: 0;
}

.search-results-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.page-header {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.results-list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

.result-item {
    margin-bottom: 10px;
    font-size: 18px;
}

.result-link {
    color: #4caf50;
    text-decoration: none;
}

.result-link:hover {
    text-decoration: underline;
}

.action-link {
    margin-left: 10px;
    color: #f44336;
    text-decoration: none;
}

.action-link:hover {
    text-decoration: underline;
}

.back-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.back-link:hover {
    background-color: #555;
}


.footer {
    background-color: #333;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}
