{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'styles/signin.css' %}">
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        <form method="post" class="login-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="submit-button">Login</button>
        </form>
        <p class="signup-link">Don't have an account? <a href="{% url 'signup' %}" class="link">Sign up here</a>.</p>
    </div>
    <footer class="footer">
        <p>&copy; 2024 Pong Game. All rights reserved.</p>
    </footer>
</body>
</html>